<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/font-awesome/css/font-awesome.min.css', package: 'TKD.tkdBerlin')}" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/open-sans-fontfacekit/web fonts/opensans_light_macroman/stylesheet.css', package: 'TKD.tkdBerlin')}" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'TKD.tkdBerlin')}" />
        <!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->
    </f:section>
    <f:section name="headScripts">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
    </f:section>
</head>
<body>
<f:section name="body">

    <header class="hidden-xs hidden-sm" id="header">
          {parts.menu -> f:format.raw()}
        <br />
        <h2><span>Taekwon-Do Center</span> Pankow</h2>
    </header>

    <header id="header_small" class="alt hidden-md hidden-lg">
        
        <nav>
            <a href="#menu">Menü</a>
        </nav>
    </header>

    <nav id="menu" class="alt">
        <div class="inner">
            <h2>Menü</h2>
            {parts.smallmenu -> f:format.raw()}
            <a href="#" class="close">Schließen</a>
        </div>
    </nav>

    <div id="main" ng-controller="NewsCtrl" class="ng-scope">
        <div>
            <h1>{title-> f:format.raw()}</h1>
        </div>
        <div>
        {content.main -> f:format.raw()}
        </div>
    </div>

    <script src="{f:uri.resource(path: 'JavaScript/skel.js', package: 'TKD.tkdBerlin')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/jquery.js', package: 'TKD.tkdBerlin')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/jquery_002.js', package: 'TKD.tkdBerlin')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/util.js', package: 'TKD.tkdBerlin')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/main.js', package: 'TKD.tkdBerlin')}"></script>


</f:section>
</body>
</html>html>