<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/font-awesome/css/font-awesome.min.css', package: 'TKD.tkdBerlin')}" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'opensans_light_macroman/stylesheet.css', package: 'TKD.tkdBerlin')}" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'TKD.tkdBerlin')}" />
        <!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->
    </f:section>
    <f:section name="headScripts">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
    </f:section>
</head>
<body>
<f:section name="body">
    <nav class="menu">
        {parts.menu -> f:format.raw()}
    </nav>
    <div class="content">
        {content.main -> f:format.raw()}
    </div>
</f:section>
<f:section name="bodyScripts">
    <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
</f:section>
</body>
</html>
