<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/font-awesome/css/font-awesome.min.css', package: 'TKD.tkdBerlin')}" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'opensans_light_macroman/stylesheet.css', package: 'TKD.tkdBerlin')}" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'TKD.tkdBerlin')}" />
        <!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->
    </f:section>
    <f:section name="headScripts">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
    </f:section>
</head>
<body id="top" class="ng-scope">

<!-- Header -->
<header class="hidden-xs hidden-sm" id="header">
    <a href="https://traditional-taekwondo.center/index.html" class="image"><img src="files/logo-large.png" alt="Traditional Taekwon-Do Centers - Kwon Jae Hwa Taekwon-Do" width="160px"></a>
    <h2>Taekwon-Do Center Berlin</h2>
    <br />
    <f:section name="navi">
        {parts.menu -> f:format.raw()}
    </f:section>
    <br>
    <ul class="icons">
        <li><a href="tel:+49%208041%2075887" class="icon fa-phone"><span class="label">Phone</span></a></li>
        <li><a href="mailto:mail@traditional.taekwon-do.center" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        <li><a href="http://facebook.com/traditional.taekwondo.centers" class="icon fa-facebook" target="_new"><span class="label">Facebook</span></a></li>
        <li><a href="https://plus.google.com/114348216730991158019" class="icon fa-google" target="_new"><span class="label">Google+</span></a></li>
        <li><a href="https://twitter.com/TKDCenters" class="icon fa-twitter" target="_new"><span class="label">Twitter</span></a></li>
    </ul>
</header>
<!-- Header -->
<header id="header_small" class="alt hidden-md hidden-lg">
    <h1><a href="https://traditional-taekwondo.center/index.html">Traditional Taekwon-Do Centers</a></h1>
    <nav>
        <a href="#menu">Menü</a>
    </nav>
</header>
<!-- Menu -->

<!-- Main -->
<div id="main" ng-controller="NewsCtrl" class="ng-scope">
    <section>
        <br>
        <header class="major">
            <h2>Neues vom Taekwon-Do Center Berlin</h2>
        </header>

        <f:section name="body">
            {content.main -> f:format.raw()}
        </f:section>
        <!--
        <div id="article0" class="box" style="text-align: justify;">
            <h4>Gründung</h4>
            <p class="small">Deutschland - 27.09.2014</p>

            <p>

                Am 27.09.2014 hat unsere Gemeinschaft den gemeinnützigen
                Verein Traditional Taekwon-Do Centers e.V. als Verband gegründet. In
                unserem Verband können Schulen oder Vereine, wie auch einzelne
                Mitglieder aufgenommen werden.
                Die Leiter unseres Verbandes sind eine Gruppe
                selbstverantwortlicher Taekwon-Do Meister in Deutschland, die rund 20
                Jahre direkte Schüler von Systemgroßmeister Kwon Jae-Hwa sein durften,
                bzw. bereits 20 bis sogar über 30 Jahre im System Kwon Jae-Hwa
                trainieren und lehren.

                Nach dem Ende der Verbandsarbeit von Großmeister Kwon,
                Jae Hwa zum 31.12.2013, haben sie sich zum Ziel gesetzt, das
                ursprüngliche Gedankengut des Traditionellen Taekwon-Do in Deutschland
                zu erhalten und weiter zu entwickeln.
                Sie haben sich in einem Großmeister-Rat
                zusammengefunden, der die Maßnahmen für das Erreichen dieser Ziele
                koordinieren und Perspektiven für die Zukunft des Traditionellen
                Taekwon-Do in Deutschland entwickeln soll.

            </p>

            <ul class="icons">
                <li class="hidden-tiny hidden-small hidden-xs hidden-sm">Eingestellt am 18.12.2016</li>
                <li class="hidden-tiny hidden-small hidden-xs hidden-sm">teilen auf</li>
                <li><a href="https://twitter.com/intent/tweet?text=Artikel%20der%20Traditional%20Taekwon-Do%20Centers%20e.V.&amp;url=https://traditional-taekwondo.center/ttc/taekwondo/berichte-taekwondo.html#article0&amp;via=TKDCenters" class="icon fa-twitter-square dark" target="_new"><span class="label">tweet</span></a></li>
                <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://traditional-taekwondo.center/ttc/taekwondo/berichte-taekwondo.html#article0" class="icon fa-facebook-square dark" target="_new"><span class="label">share</span></a></li>
                <li><a href="https://plus.google.com/share?url=https://traditional-taekwondo.center/ttc/taekwondo/berichte-taekwondo.html#article0" class="icon fa-google-plus-square dark" target="_new"><span class="label">Plus on Google+</span></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://traditional-taekwondo.center/ttc/taekwondo/berichte-taekwondo.html#article0&amp;title=Artikel%20der%20Traditional%20Taekwon-Do%20Centers%20e.V.&amp;summary=Artikel%20der%20Traditional%20Taekwon-Do%20Centers%20e.V.&amp;source=https://traditional-taekwondo.center" class="icon fa-linkedin-square dark" target="_new"><span class="label">Publish on linkedIn</span></a></li>
                <li><a href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url=https://traditional-taekwondo.center/ttc/taekwondo/berichte-taekwondo.html#article0" class="icon fa-xing-square dark" target="_new"><span class="label">Share on Xing</span></a></li>
                <li><a href="http://pinterest.com/pin/create/button/?url=https://traditional-taekwondo.center/ttc/taekwondo/berichte-taekwondo.html#article0&amp;description=Artikel%20der%20Traditional%20Taekwon-Do%20Centers%20e.V.&amp;media=https://traditional-taekwondo.center/images/articles/taekwondo-bonn-1.png" class="icon fa-pinterest-square dark" target="_new"><span class="label">Pin on Pinterest</span></a></li>
            </ul>

        </div>-->



        <div ng-show="popoverIsVisible()" ng-click="hidePopover()" class="imagePopover hidden-sm hidden-xs hidden-tiny hidden-small ng-hide" ng-style="{'background-image':'url('+imageSrc+')'}" style="background-image: url(&quot;-1&quot;);">

            <div style="float: left" class="hidden-sm hidden-small hidden-tiny hidden-xs">
                <img src="files/logo-traditional-taekwondo-centers-small.png">
            </div>

            <div style="position: absolute; bottom: 0px; background-color: rgba(53, 56, 73, 0.95); width: 100%; height: 50px; ">

                <p class="small align-center ng-binding" style="padding-top: 10px">
                    -1
                </p>

            </div>


        </div>

        <div>
            <h4>Weitere Informationen</h4>
            <ul class="actions">
                <li><a href="http://www.facebook.com/traditional.taekwondo.centers" class="button icon fa-facebook" target="_new">Facebook</a></li>
                <li><a href="https://plus.google.com/114348216730991158019" class="button icon fa-google-plus" target="_new">Google +</a></li>
                <li><a href="https://traditional-taekwondo.center/ttc/taekwondo/termine.html" class="button icon fa-calendar-o">Termine</a></li>
                <li><a href="https://twitter.com/TKDCenters" class="button icon fa-twitter" target="_new">Twitter</a></li>
            </ul>
        </div>

    </section>
    <!-- Scripts -->
    <f:section name="bodyScripts">
        <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
        <script src="{f:uri.resource(path: 'JavaScript/skel.js', package: 'TKD.tkdBerlin')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/jquery.js', package: 'TKD.tkdBerlin')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/jquery_002.js', package: 'TKD.tkdBerlin')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/util.js', package: 'TKD.tkdBerlin')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/main.js', package: 'TKD.tkdBerlin')}"></script>
    </f:section>
    <!--
    <script src="files/skel.js"></script>
    <script src="files/jquery.js"></script>
    <script src="files/jquery_002.js"></script>
    <script src="files/util.js"></script>

    <script src="../scripts/vendor/html5up/respond.min.js"></script>
    <script src="files/main.js"></script>-->
</div>


<nav id="menu" class="alt">
    <div class="inner">
        <h2>Old-Menü</h2>
        <ul class="links">
            <li><a href="https://traditional-taekwondo.center/index.html">Startseite</a></li>
            <li><a href="https://traditional-taekwondo.center/ttc/taekwondo/verband-traditionelles-taekwondo.html">Verband</a></li>
            <li><a href="https://traditional-taekwondo.center/ttc/taekwondo/termine.html">Termine und Aktuelles</a></li>
            <li><a href="https://traditional-taekwondo.center/ttc/taekwondo/berichte-taekwondo.html">Nachrichten und Berichte</a></li>
            <li><a href="https://traditional-taekwondo.center/ttc/taekwondo/kampfkunst-schulen.html">Schulverzeichnis</a></li>
            <li><a href="https://traditional-taekwondo.center/ttc/traditional-taekwondo-centers.html">Mitgliederbereich</a></li>
            <li><a href="https://traditional-taekwondo.center/ttc/taekwondo/impressum.html">Kontakt und Impressum</a></li>
        </ul>
        <a href="#" class="close">Schließen</a>
    </div>
</nav>
</body>
</html>
